
.content
    .section-title
        margin-top: 50px
        text-align: center
        font-size: 2rem

    .skills
        .slider
            max-width: 900px
            text-align: center
            margin: 20px auto
            .slick-track
                .skill-item
                    width: 200px !important
                    height:250px
                    padding: 10px
                    margin: 10px
                    box-shadow: 10px 10px 2px 1px #d0e8e8
                    border: 1px solid #81a7a8
                    .card-img
                        height: 34%
                        margin: auto
                    .skill-title
                        color: #a88281
                        font-size: 1.5rem
                        margin 8px 0
                    .skill-list
                        div
                            color: #8194a8
                            font-size: 1rem
                            margin 4px 0

           
@media (max-width: 600px) {
  .content { padding: 30px; }
}
@media (max-width: 400px) {
  .content { padding: 10px; }
}